*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
.container{
  height: 100vh;
  width: 100%;
  overflow:hidden;
  position: relative;
  background-color: #9de3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box{
  height: 86vh;
  width: 75%;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
  display: flex;
  position: relative;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(25px);
  box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
      }
      @media only screen and (max-width: 600px) {
        .container{
          flex-direction: column;
          align-items: flex-start;
        }
        .container .box{
          height: 100%;
          width: 100%;
          padding: 4px;
          display: flex;
          position: relative;
        }
      
        .container .box nav{
          height: auto;
          width: auto;
          justify-content: space-between;
        }
        .container .box nav ul li{
          display: inline-flex;
          padding:2px;
          justify-content: space-between;
          list-style: none;
        }
        .container .box nav ul li a:hover{
          font-size: 12px;
          cursor: pointer;
          color: #242329;
          transition: 0.3s
        }
        .container .box nav ul li a:hover{
          color: #7c8bd1;
        }
        .container .box nav .logo{
          font-size: x-large;
          color: #242329;
          font-weight: bold;
          margin-top: 12px;
          margin-left: 6px;
        }
        .container .box .contains{
          position: absolute;
          display: flex;
          bottom: -8%;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          width: 100%;
          margin: 0 auto;
                 }
        .about .name{
          font-size: 18px;
        text-align: center;
      align-items: center;
      padding-top: 18px;
        }
        .about .content-1{
          font-size:15px;
        width:100%;
        height:100%;
        margin:10px;
        display:flex;
        text-align:center;
        justify-content: center;
      
      }
      .Experience .name{
        font-size: 18px;
        text-align: center;
      align-items: center;
      padding-top: 18px;
      }
      .container .box .Experience .content-1 .box{
        height: fit-content;
        width: fit-content;
        padding: 6px;
      }
      .container .box .Experience .content-2 .box{
        height: fit-content;
        width: fit-content;
        padding: 6px;
        margin-bottom: auto;
      }
      .Experience .content-1 .box p{
        font-size: 16px;
        margin: 6px; 
        padding: 6px;
        text-align: center; 
      }
      .Experience .content-2 .box p{
        font-size: 16px;
        margin: 6px; 
        padding: 6px;
        text-align: center; 
      }
      .Project .name{
        font-size: 18px;
        text-align: center;
      align-items: center;
      padding-top: 18px;
        }
        .container .box .Project .content-3 .box{
          height: fit-content;
          width: fit-content;
          padding: 6px;
        }
        .Project .content-3 .box p{
          font-size: 16px;
        margin: 6px; 
        padding: 6px;
        text-align: center;
        }
        .Project .content-4 .box p{
          font-size: 16px;
          margin: 6px; 
         text-align: center;
        }
        .Contact .name{
          font-size: 20px;
        padding-top: 18px;
          }
          .Contact .content-5 .form {
            padding: 1rem;
            padding-top:1rem ;
        margin: 1rem auto; 
        height: fit-content;
        width: fit-content;
          }
        
          .Contact .content-5 .form .contact-info {
            padding: 2px;
            margin: 2px;
            height: fit-content;
            width:fit-content;
          }  
          .Contact .content-5 .form .contact-form {
            padding: 15px;
            margin: 8px;
            height: 5;
            width:20;
          }  
          .contact-form {
          padding-left: 1rem;
            position:static;
            height: fit-content;
            width:fit-content;
            margin-left: 10 auto;
            }
            .title {
              font-size: 12px;
              text-align: center;
              color: #fff;
      
            }
            }
      
            @media screen and (min-width: 768px) and (max-width: 1023px) {
              .container{
                flex-direction: column;
                align-items: flex-start;
              }
              .container .box{
                height: 100%;
                width: 100%;
                padding: 0 20px;
                background: rgba(255, 255, 255, 0.1);
                z-index: 10;
                display: flex;
                position: relative;
                border-radius: 20px;
              }
              .container .box nav{
                height: auto;
                width: auto;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
              .container .box nav ul li{
                display: inline-flex;
                padding:5px;
                justify-content: space-between;
                list-style: none;
              }
              .container .box nav ul li a:hover{
                font-size: 15px;
                font-weight: 400;
                cursor: pointer;
                color: #242329;
                transition: 0.3s
              }
              .container .box nav ul li a:hover{
                color: #7c8bd1;
              }
              .container .box nav .logo{
                font-size: 40px;
                color: #242329;
                font-weight: bold;
                margin-top: 5px;
                margin-left: 60px;
              }
              .container .box .contains{
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 8%;
                padding-left: 80px;
              }
              .about .name{
                font-size: 34px;
              text-align: center;
            align-items: center;
            padding-top: 80px;
            padding-bottom: 100px;
            }
              .about .content-1 {
            font-size: large;
              margin: 5px; 
              padding: 5px;
              text-align: center; 
            }
            .Experience .name{
              font-size: 34px;
              text-align: center;
            align-items: center;
            padding-top: 80px;
            padding-bottom: 100px;
            }
            .Experience .content-1 .box p{
              font-size: large;
              margin: 5px; 
              padding: 5px;
              text-align: center; 
            }
            .Experience .content-2 .box p{
              font-size: large;
              margin: 5px; 
              padding: 5px;
              text-align: center; 
            }
            .Project .name{
              font-size: 34px;
              text-align: center;
            align-items: center;
            padding-top: 80px;
            padding-bottom: 100px;
              }
              .Project .content-3 .box{
                font-size: large;
                margin: 25px; 
                padding: 5px;
                text-align: center; 
              }
              .Project .content-4 .box{
                font-size: large;
                margin: 5px; 
                padding: 65px;
                text-align: center; 
              }
              .Contact .name{
                font-size: 2rem;
              padding-top: 80px;
              padding-bottom: 100px;
                }
                .Contact .content-5 .form{
                  padding: 60px;
                  margin:60px;
                  margin-left:3px;
                }
                .Contact .content-5 .form .contact-info{
                  padding: 6px;
                  margin:6px;
                  margin-left:3px;
                }
                  }
            